<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link rel="stylesheet" href="./CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/cuenta.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" type="image/png" href="./img/icono.png">
</head>

<body>
    <header class="header">
        <nav class="navegacion">
            <img src="./img/logotipo.png" alt="Logotipo oficial de Quetzual" class="logo">
            <article>Cuenta</article>
            <button class="cs" onclick="cerrarSesion()">Cerrar sesión</button>
        </nav>
        <div class="menu">
            <a href="./sesionUsuario.html">
                <img src="./img/bx-home.svg" alt="Imagen "> Inicio
            </a>
            <a href="./preguntasPendientes.html">
                <img src="./img/bx-question-mark.svg" alt="Signo de pregunta" class="svg"> Mis preguntas
            </a>
        </div>
    </header>
    <div class="filcuenta">
        <div class="fil" id="fil" onclick="estadistica()"><h3>Estadistica</h3></div>
        <div class="fil2" id="fil2" onclick="cuenta()"><h3>Cuenta</h3></div>
    </div>
    <br>
    <br>
    <div class="cuen" id="cuen">
        <div class="datos">
            <p>Nombre: GutierrezBueno </p>
            <p>Correo electronico:gutierrez.bueno.elizabeth.andrea@gmail.com </p>
            <p>Fecha de nacimiento:17-09-2004 </p>
            <p>Sexo: Prefiero no Decirlo</p>
        </div>
        <div class="title">
            <h1>Modificar Cuenta</h1>
            <hr>
        </div>
        <div class="flex">
            <div class="card">
                <form action="ModifcarCuenta" name="modicuenta">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre de Usuario" class="input" value="GutierrezBueno">
                    <br>
                    <label for="" class="article">Fecha de nacimiento</label><br>
                    <input type="date" name="fecha" id="fecha" class="input" value="">
                    <br>
                    <label for="" class="article">Sexo</label>
                    <br>
                    <select name="sexo" id="sexo" class="select">
                    <option value="3" >Masculino</option>
                    <option value="2" >Femenino</option>
                    <option value="1" selected >Prefiero no decirlo</option>
                </select>
                    <button type="button" id="modificar" class="submit" onclick="modC()">Modificar Cuenta</button>
                </form>
                <hr width="90%">
                <form action="" name="modemail">
                    <input type="email" name="correo" id="correo" placeholder="Correo electronico" class="input" value="gutierrez.bueno.elizabeth.andrea@gmail.com">
                    <button type="button" id="modificar" class="submit" onclick="ModCorreo()">Modificar Correo</button>
                </form>
            </div>
            <div class="card">
                <form action="ModificarContra" name="ModContra">
                    <input type="password" name="pass" id="antpass" placeholder="Contraseña Actual" class="input">
                    <input type="password" name="newpass" id="password" placeholder="Nueva Contraseña" class="input">
                    <input type="password" name="" id="confpass" placeholder="Confirmar Nueva Contraseña" class="input">
                    <button type="button" id="modPassword" class="submit" onclick="modP()">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
    <div class="esta" id="esta">
        <div class="title">
                <h1>Aprovechamiento del sistema</h1>
                <hr>
            </div>
            <div class="explicación">
                <p>
                    Las siguientes graficas muestran los resultados de acuerdo a las preguntas respondidas y las rechazadas, a su vez tambien se muestra la comparación de las preguntas que has calificado con respecto a la utilidad que te han dado al igual de estar clasificada
                    por categoria.
                </p>
            </div>
            <div class="flex">
                <div class="bar">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="pie">
                    <canvas id="piechart"></canvas>
                </div>
            </div>
    </div>
    
    
    
    <div class="modal" id="modalR">
        <div class="card">
            <article>
                <b>
                    Cuidado, esta acción será permanente, una ver eliminada la cuenta, tus datos y todo el progreso no podrán recuperarse ¿Desea continuar?
                </b>
            </article>
            <button class="cs" onclick="eliminar()">Eliminar cuenta</button> <br>
            <button class="submit" onclick="crm()">Deseo permanecer en el sistema</button>
        </div>
    </div>
    </div>
    <button class="cs" data-open="modalR"><b>Eliminar cuenta</b></button>
    <script>
        function eliminar(){
            location.href = './index.html';
        }
    </script>
    <script src="./JS/funcionModal.js"></script>
    <script src="./JS/validar.js"></script>
    <script src="./JS/sweetAlert.js"></script>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["ETS","Anticonceptivos" ,"Embarazo" ,"Salud sexual femenina" ,"Salud sexual masculina" ],
        datasets: [{
            label: 'Puntos',
            data: [5, 3, 2, 2, 5],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: true,
        aspectRatio: 1,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
var ctx = document.getElementById('piechart').getContext('2d');
var piechart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Aceptadas', 'Rechazadas'],
        datasets: [{
            label: 'Preguntas',
            data: [10,5,],
            backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(75, 192, 192, 1)',
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: true,
        aspectRatio: 1,
    }
});

    </script>
 <!--   
    <% 
        if(contra == 1){
            %> 
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'No se Modificado la cuenta',
                    text: 'No coincide la contraseña de la cuenta '
                });
            </script>
    
    
    <%
        }
    %>
    
    <% 
        if(correo == 1){
            %> 
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Correo ya registrado',
                    text: 'El correo ya ha sido Registrado Intente de nuevo'
                });
            </script>
    
    
    <%
        }
    %>
-->

<script>
    function estadistica(){
        document.getElementById("esta").style.display = "inline";
        document.getElementById("cuen").style.display = "none";
        document.getElementById("fil").style.borderBottom = "2px solid #0066FF";
        document.getElementById("fil2").style.borderBottom = "none";
        document.getElementById("fil").style.hover = "border-bottom: 2px solid #ff00bfd7"

        document.getElementById("fil").addEventListener("mouseover", function() {
            document.getElementById("fil").style.borderBottom  = "2px solid #ff00bfd7";
        });
            
        document.getElementById("fil2").addEventListener("mouseout", function() {
            document.getElementById("fil2").style.borderBottom = "none";
        });

        document.getElementById("fil2").addEventListener("mouseover", function() {
            document.getElementById("fil2").style.borderBottom  = "2px solid #ff00bfd7";
        });
            
        document.getElementById("fil").addEventListener("mouseout", function() {
            document.getElementById("fil").style.borderBottom = "2px solid #0066FF";
        });
    }

    function cuenta(){
        document.getElementById("esta").style.display = "none";
        document.getElementById("cuen").style.display = "inline";
        document.getElementById("fil").style.borderBottom = "none";
        document.getElementById("fil2").style.borderBottom = "2px solid #0066FF";

        document.getElementById("fil").addEventListener("mouseover", function() {
            document.getElementById("fil").style.borderBottom  = "2px solid #ff00bfd7";
        });
            
        document.getElementById("fil").addEventListener("mouseout", function() {
            document.getElementById("fil").style.borderBottom = "none";
        });

        document.getElementById("fil2").addEventListener("mouseover", function() {
            document.getElementById("fil2").style.borderBottom  = "2px solid #ff00bfd7";
        });
            
        document.getElementById("fil2").addEventListener("mouseout", function() {
            document.getElementById("fil2").style.borderBottom = "2px solid #0066FF";
        });

    }
</script>

</body>

</html>